.center {
	text-align: center;
	color: White;
	margin-top: 2rem;
}

.centeredInput {
	width: 100%;
	height: 100px;
}

.centeredInputContent {
	padding-top: 25px;
	width: 50%;
	height: 100px;
	margin: auto;
	text-align: center;
}
body {
	background-color: #282c34;
	color: white;
}

.styledButton {
	border: 2px solid #a3b3d2;
	background-color: #a3b3d2;
	margin-left: 15px;
	color: black;
}

.styledButton:hover {
	background-color: #d9e2ec;
}

.centeredTable {
	width: 80%;
	min-height: 300px;
	margin: 0 auto;
}

.table {
	text-align: center;
	margin: auto;
}

.noLink {
	text-align: center;
	margin: auto;
}
